body {
  background: #B91E23;
  font-size: 10px;
  color: #262D34;

}

button {
  background: #000000;
  color: white;
  height: 10%;
  width: inherit;
  text-align: center;
  line-height: inherit;
  border: 2px white solid;
}

* {
   box-sizing: border-box;
   width: 100%;
   font-size: 1em;
 }

form {
   max-height: inherit;
   margin: 2%;
   color: black;
 }

.list {
  color: white;

}

.error {
  border: 2px red
}
